  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.card-content {
  padding: 30px;
    text-align: center; /* Alinea al centro el contenido de .card-content */
}

.card-title {

    font-size: 30px;
    font-weight: bold;
    color:#003b6f;
}

/* Estilización de los campos de formulario */
.input-field {
    margin: 20px 450px 30px 450px; /* Aumenta el margen inferior a 30px para más espacio */
    position: relative;
}

.input-field input {

    padding: 10px 10px;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: none;
    outline: none;
    background: transparent;
    font-size: 18px; /* Tamaño de fuente para los inputs */
    color: #111;
}

.input-field label {
    position: absolute;
    left: 10px;
    top: 0;
    color: #111;
    transition: all 0.3s;
    pointer-events: none;
    font-size: 18px;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    top: -20px; /* Mueve el label más arriba para dejar claro espacio */
    font-size: 18px; /* Aumenta el tamaño del texto cuando está activo/flotante */
    color: #666;
}


.input-field input:placeholder-shown + label {
    visibility: hidden; /* Oculta el label cuando el placeholder está visible */
}


.browser-default {
    display: block; /* Asegura que el select se muestre como bloque */
    margin: 20px 100px 30px 0px; /* Margen igual que los inputs */
    padding: 10px 10px; /* Padding igual que inputs */
    border: none; /* No border por defecto */
    border-bottom: 1px solid #ccc !important; /* Solo una línea en la base del select */
    background: transparent; /* Fondo transparente */
    font-size: 18px; /* Tamaño de fuente igual que los inputs */
    color: #666; /* Color de texto igual que los inputs */
    cursor: pointer; /* Cursor tipo puntero para indicar que es un elemento interactivo */
    outline: none; /* Elimina el borde de foco predeterminado */
}

/* Estilos para cuando el select está enfocado */
.browser-default:focus {
    border-bottom: 2px solid #666; /* Borde inferior más destacado cuando está enfocado */
}


.btn.custom-button, .btn.reset-button {
    flex: 1; /* Asegura que cada botón tome la mitad del espacio disponible */
    padding: 10px 20px; /* Espaciado interno */
    color: white; /* Texto blanco para ambos botones */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cursor como indicador de clic */
    transition: background-color 0.3s; /* Transición suave para cambio de color */
    margin: 0px 350px;
}

.btn.custom-button {
    background-color: #003b6f; /* Color de fondo inicial azul oscuro */
    margin-right: 5px; /* Margen a la derecha para separación */
}

.btn.custom-button:hover {
    background-color: #00cdff; /* Color de fondo al pasar el mouse azul claro */
}

.btn.reset-button {
    background-color: #00cdff; /* Color de fondo inicial azul claro */
    margin-left: 5px; /* Margen a la izquierda para mantener la simetría */
}

.btn.reset-button:hover {
    background-color: #003b6f; /* Color de fondo al pasar el mouse azul oscuro */
}

.nav-wrapper1 {

    background-color: #00cdff; /* Fondo azul para la barra de navegación */
    padding: 10px; /* Padding para la nav */
}

.input-field1 {
  
    position: relative; /* Posicionamiento relativo para el posicionamiento del ícono */
}

.input-field1 .prefix {
    position: absolute; /* Posicionamiento absoluto para el ícono */
    left: 10px; /* Espaciado desde el borde izquierdo */
    top: 50%; /* Centrado vertical */
    transform: translateY(-50%); /* Ajuste fino para centrar el ícono exactamente */
    color: white; /* Color del ícono */
    
}

#buscar {
    width: 100%; /* Anchura completa para aprovechar el espacio disponible */
    padding-left: 50px; /* Espacio para el ícono */
    border: none; /* Sin bordes */
    height: 40px; /* Altura fija para el input */
    line-height: 40px; /* Altura de línea para centrar el texto verticalmente */
    font-size: 18px; /* Tamaño de fuente adecuado */
    box-shadow: none; /* Sin sombra */
    border-radius: 5px; /* Bordes redondeados suavemente */
    outline: none; /* Sin contorno al enfocar */
}

#buscar::placeholder {
    color: white; /* Color del texto placeholder */
    opacity: 1; /* Hacer que el placeholder sea completamente visible */
}

/* Estilo general para las tarjetas */
.card2 {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra sutil */
  padding: 20px; /* Espacio interior */
  margin: 20px 0; /* Margen exterior */
}

/* Título de la tarjeta */
.card-title2 {
  color: #333; /* Color oscuro para el texto */
  font-size: 24px; /* Tamaño de fuente grande */
  margin-bottom: 20px; /* Espacio debajo del título */
}


/* Estilos para la tabla */
table {
  width: 100%; /* Ancho completo */
  border-collapse: collapse; /* Los bordes de la tabla colapsan en uno solo */
}

thead {
  background-color: #f7f7f7; /* Fondo gris claro para el encabezado */
}

th, td {
  text-align: center; /* Alineación del texto a la izquierda */
  padding: 20px 15px; /* Espacio alrededor del texto */
  border-bottom: 1px solid #ccc; /* Línea divisora entre filas */
}

/* Estilos para los botones flotantes */
.btn-floating {
  background-color: #003b6f; /* Color azul para el botón */
  color: white; /* Texto blanco */
  border: none; /* Sin bordes */
  border-radius: 10%; /* Forma circular */
  padding: 10px 12px; /* Espacio alrededor del ícono */
  cursor: pointer; /* Cursor tipo pointer */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra para el botón */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}


.btn-floating.red {
  background-color: #dc3545; /* Rojo para botones de acción crítica */
}

.btn-floating.red:hover {
  background-color: #c82333; /* Rojo oscuro al pasar el mouse */
}

.material-icons {
  display: inline-block;
  vertical-align: middle; /* Alineación vertical del ícono */
}



/* Estilo para contenedores */
.col.s6 {
    margin-top: 30px;
    margin-bottom: 20px; /* Espacio entre filas */
}

/* Estilos para los inputs de fecha y número */
input[type="date"], input[type="number"] {
    width: 100%; /* Ancho completo dentro de su contenedor */
    padding: 10px; /* Espacio interno para mayor legibilidad */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* El ancho incluye el padding y el borde */
    font-size: 16px; /* Tamaño de fuente adecuado */
}

/* Estilos específicos para las etiquetas */
label {
    display: block; /* Hace que la etiqueta sea un bloque para posicionarla mejor */
    margin-bottom: 5px; /* Espacio antes de cada input */
    color: #333; /* Color oscuro para las etiquetas */
    font-size: 14px; /* Tamaño de fuente para las etiquetas */
    font-weight: bold; /* Hacer la etiqueta en negrita para mejor visibilidad */
}



